@import url("https://fonts.googleapis.com/css?family=Tangerine");

html, body {
  margin: 0;
  margin-right: 0;
  margin-left: 10px;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #ffffff;
  font-family: "Tangerine";
}

h1 {
  font-size: 30px;
  font-family: "Tangerine";
  color: #098281;
  max-width: 95%;
}

h2 {
  font-size: 50px;
  font-family: "Tangerine";
  font-style: bold;
  color: #098f81;
  max-width: 95%;
}

p {
  font-size: 12px;
  font-family: "Tangerine";
  color: black;
  max-width: 95%;
}
