@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

html, body {
  font-family: "Ubuntu";
  margin: 0;
  margin-right: 0;
  margin-left: 10px;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #ffffff;
}

h1 {
  font-size: 30px;
  font-family: "inherit";
  color: #098281;
  max-width: 95%;

}

p {
  font-size: 12px;
  font-family: "inherit";
  color: black
}
